body {
  background-color: rgb(128, 125, 125);
  color: white;
}
h2 {
  text-align: center;
}
.container {
  width: 400px;
  margin: 60px auto;
  text-align: center;
}
button {
  background-color: black;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: 2px solid white;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  vertical-align: middle;
}
img {
  width: 34px;
  height: 34px;
}
button.reset,
.auto-play {
  white-space: nowrap;
  font-size: 12px;
  border-radius: 0;
  height: 34px;
  padding: 8px 12px;
  text-align: center;
  width: 100px;
  margin-top: 20px;
}
button.reset:hover {
  background-color: crimson;
}
button.auto-play:hover {
  background-color: blue;
}
p.result {
  margin: 40px 0;
}
